# Ignore node_modules and build artifacts
dist
build
node_modules
apps/*/dist
apps/*/build
apps/*/node_modules

# Ignore system files
.DS_Store
.vscode

# Ignore git and yarn files
.git
.gitignore
yarn.lock

# Ignore logs
*.log

# Ignore Docker files themselves
docker-compose.yml
Dockerfile
.dockerignore

# Ignore test and coverage outputs
coverage
test-results

# Ignore misc
README.md
